<div class="row">
	<h2><%= link_to(intro.title, post_path(intro)) %></h2>
	<div class="entrybody">
		<%=raw intro.intro_html %>
	</div>
	<div class="meta">
		<ul>
			<li class="date">Posted on <%= format_post_date(intro.published_at) %></li>
			<li class="comments"><%= link_to(pluralize(intro.approved_comments.size, "comment"), post_path(intro, :anchor => 'comments')) %></li>
			<% unless intro.tags.empty? -%>
			<li class="tags">Tagged <%= linked_tag_list(intro.tags) %></li>
			<% end -%>
			<li class="comments"><g:plusone size="small"></g:plusone></li>
		</ul>
	</div>
</div>
